<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Topit</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
<section class="whole">
  <section class="nav_section">
    <nav class="nav_vertical">
      <h1 class="topit">TopiT - Profile</h1>
      <ul>
        <li class="navlist"><a href="/account/dashboard">Dashboard</a></li>
        <li class="navlist"><a href="/account/recharge-airtime">Recharge</a></li>
        <li class="navlist"><a href="/account/recharge-data">Buy data</a></li>
        <li class="navlist"><a href="/account/transactions">Transactions</a></li>
        <li class="navlist"><a href="/account/fund-wallet">Add funds</a></li>
        <li class="navlist"><a href="/account/withdraw">Withdraw funds</a></li>
      </ul>
    </nav>
    <nav class="nav_btm">
      <img class="navpix" src="/images/pic.png" alt="profilepix">
      <a class="profilename" href="/account/profile">
        <h4>My Profile</h4>
      </a>
      </ul>
    </nav>
  </section>
<div class="profile-page">
  <nav class="nav_main">
    <div class="pix_name">
      <img class="top_nav_pix" src="/images/pic.png" alt="profilepix">
      <p><%= username %></p>
    </div>
    <form action="/account/logout" method="post">
      <input type="submit" value="LOGOUT"/>
    </form>
  </nav>
  <section class="profilebody">
  <div class="profile-picture">
      <img src="/images/pic.png"  alt="Profile Picture">
      <p>Username</p>
  </div>
  <div class="profile-details">
    <div >
      <div class="each_profile">
        <p>Name</p>
        <h4><%= fullname %></h4>
      </div>
      <div class="each_profile">
        <p>Email</p>
        <h4><%= email %></h4>
      </div>
      <div class="each_profile">
        <p>Phone Number</p>
        <h4><%= phone %></h4>
      </div>
      <div class="each_profile">
        <p>Funding account Number</p>
        <h4><%= fundingAcct %></h4>
      </div>
    </div>
   <div class="button_container">
    <a href="profile/update"><button>Edit Profile</button></a>
  </div>
</div>
</section>
</div>
</section>
  <footer>
    <!-- Add footer content here -->
  </footer>
</body>
</html>
